@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
  font-family: 'Mooli', sans-serif;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
ion-title{
  background-color: #7852b4;
  padding: 4.31%;
  color: #f7f7f7;
}
ion-row, ion-grid{
  background-color: rgb(240, 244, 248);
}
ion-card{
  width: 200px;
}
.controlesSom{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ion-icon {
  color: rgb(191, 0, 255);
}
