<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acessar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <form [formGroup]="formAcess" (ngSubmit)="onSeach()">

      <ion-input formControlName="email" type="email" label="Email" label-placement="floating" fill="outline" placeholder="Email"></ion-input>
      <br>
      <ion-input formControlName="senha" type="password" label="Senha" label-placement="floating" fill="outline" placeholder="Senha"></ion-input>

      <ion-button color="dark" type="submit">Acessar</ion-button>
    </form>

    <ion-button href="../index" fill="clear" color="dark">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
  </ion-grid>
</ion-content>
